.button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition-duration: 200ms;
    transition-timing-function: ease;
    transition-property: background-color, color;
    background-color: var(--button-background-color);
    color: var(--button-text-color);

    &--primary {
        --button-text-color: var(--text-primary-inverted-color);
        --button-background-color: var(--primary-color);

        &:hover {
            --button-text-color: var(--text-primary-inverted-color);
            --button-background-color: color-mix(
                in srgb,
                var(--primary-color),
                var(--hover-color) var(--hover-factor)
            );
        }
    }

    &--secondary {
        --button-text-color: var(--text-primary-color);
        --button-background-color: var(--background-color);

        &:hover {
            --button-text-color: var(--text-primary-color);
            --button-background-color: color-mix(
                in srgb,
                var(--secondary-color),
                var(--hover-color) var(--hover-factor)
            );
        }
    }

    &--danger {
        --button-text-color: var(--text-primary-inverted-color);
        --button-background-color: var(--danger-color);

        &:hover {
            --button-text-color: var(--text-primary-inverted-color);
            --button-background-color: var(--danger-color);
        }
    }
}
