.product-card {
    display: flex;
    gap: 20px;
    overflow: hidden;
    align-items: center;
    position: relative;
    min-width: 500px;
}

.image {
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.info__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: grid;
    gap: 8px;
    grid-template-columns: auto min-content;
    flex: 1;
}

.info__name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.info__status {
    justify-self: flex-end;
    background-color: #f0f0f0;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    width: fit-content;
}

.info__category,
.info__tags {
    background-color: #f0f0f0;
    padding: 4px 8px;
    border-radius: 4px;
    grid-column: span 2;
    width: fit-content;
}

.info__seller {
    grid-column: span 2;
}

.info__actions {
    align-self: flex-end;
    display: flex;
    gap: 8px;
    margin-top: 5px;
    margin-left: auto;
}


