.product-card {
    display: flex;
    gap: 20px;
    overflow: hidden;
    align-items: center;
    position: relative;
    min-width: 500px;
}

.image {
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.info__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info__name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.info__details {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info__category,
.info__tags {
    background-color: #f0f0f0;
    padding: 4px 8px;
    border-radius: 4px;
}

.info__actions {
    display: flex;
    gap: 8px;
    margin-top: 5px;
    margin-left: auto;
}

.info__status {
    background-color: #f0f0f0;
    padding: 4px 8px;
    border-radius: 4px;
}
