.footer {
    background-color: var(--primary-color);
    color: var(--text-primary-inverted-color);
    padding: 1rem;
    margin-top: auto;
}

.footer_container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_logo {
    font-weight: bold;
}

.footer_nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer_nav li {
    margin-left: 1.5rem;
}

.footer_nav a {
    color: var(--text-primary-inverted-color);
    text-decoration: none;
}

.footer_copyright {
    color: var(--text-neutral-color);
}
