.header-container {
    background-color: var(--primary-color);
    padding: 1rem;
}

.right-side {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header {
    color: var(--text-primary-inverted-color);
    display: flex;
    align-items: center;
}

.header_logo {
    font-weight: bold;
}

.header_nav {
    width: fit-content;
}

.header_nav ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

.header_nav a {
    color: var(--text-primary-inverted-color);
    text-decoration: none;
    padding: 8px 0px;
    border-radius: 4px;
    transition: padding 0.2s ease-in-out;

    &:global(.active) {
        padding: 8px 16px;
        background-color: rgb(255, 209, 0);
        color: var(--text-primary-color);
    }
}

.vertical-separator {
    display: inline-block;
    height: 22px;
    border: none;
    opacity: 0.2;
    border-right: 1px solid var(--text-primary-inverted-color);
}
