.header-container {
    background-color: var(--secondary-color);
    padding: 1rem;
}

.header {
    color: var(--background-color);
    display: flex;
    align-items: center;
}

.header_logo {
    font-weight: bold;
}

.header_nav {
    margin-left: auto;
    width: fit-content;
}

.header_nav ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

.header_nav a {
    color: var(--background-color);
    text-decoration: none;
}
