.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-neutral-color);
}
