.footer {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.links {
    display: flex;
    flex-direction: column;
}
