@forward './variables';

body {
    background-color: #c0d8d6;
    font-family: 'Inter', sans-serif;
    overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: inherit;
    }
}
