.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

.content {
    position: fixed;
    inset: 10px;
    right: 20px;
    left: unset;
    outline: none;
    width: 400px;
    display: flex;
    background: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dragger {
    margin: 6px;
    align-self: center;
    width: 6px;
    height: 6%;
    background: #d8d8d8;
    border-radius: 9999px;
}

.hint {
    flex-grow: 1;
    padding: 10px 0px;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    
    button {
        outline: none;
        border: none;
        &[data-pressed] {
            background: #000;
            color: #fff;
        }
    }
}

.restrictions {
    margin-top: 10px;
    display: block;
}
