.main_layout {
    display: flex;
    margin: 0 auto;
    min-width: 80%;
    padding: 1rem;
    flex: 1;
}

.wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.sidebar {
    width: 300px;
    overflow: auto;
}

.content {
    flex-grow: 1;
    overflow: auto;
}
